<div class='bar'>
  <ul>
    <li><%= link_to "Read", @article %></li>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Revisions", article_revisions_path(@article) %></li>
  </ul>
</div>