<%= render :partial => '/articles/bar' %>

<p id="notice"><%= notice %></p>

<h1>Revisions for <%= @article.title %></h1>

<ul>
  <% @revisions.each do |revision| %>
    <%= rev_modification_info(revision) %>
  <% end %>

</ul>